<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.dao.CollectMapper">
  <resultMap id="BaseResultMap" type="com.boot.dto.Collect">
    <!--@mbg.generated-->
    <!--@Table `collect`-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, is_deleted, create_time, update_time, type_id, user_id, `type`
  </sql>

  <select id="getMineColleco" resultType="com.boot.dto.MineCollectVo">
    select s.*
    from collect as c
           left join `show` as s
                     on c.type_id = s.id
    where c.is_deleted = 0
      and c.type = #{ro.type}
      and c.user_id = #{ro.userId,jdbcType=VARCHAR}
    order by c.create_time desc
  </select>
</mapper>