<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.dal.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="com.boot.dal.dao.Comment">
        <!--@mbg.generated-->
        <!--@Table `comment`-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="other_id" jdbcType="VARCHAR" property="otherId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="pid" jdbcType="VARCHAR" property="pid"/>
        <result column="user_id" property="userId"/>
        <association property="userInfo" javaType="com.boot.dto.common.vo.UserBasicInformation">
            <id column="u_id" property="id"/>
            <result column="username" property="username"/>
            <result column="sex" property="sex"/>
            <result column="avatar" property="avatar"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        is_deleted,
        create_time,
        update_time,
        other_id,
        `type`,
        content,
        pid
    </sql>

    <select id="listById" resultMap="BaseResultMap">
        select u.id as u_id, u.username, u.avatar, u.sex, c.id as id, c.*
        from comment as c
                 left join user u on c.user_id = u.id
        where c.is_deleted = 0
        <if test="id != null and id != ''">
            and c.other_id = #{id,jdbcType=VARCHAR}
        </if>
        <if test="type != null">
            and c.type = #{type}
        </if>
        order by c.create_time desc
    </select>
</mapper>