<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.dal.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.boot.dal.dao.Order">
    <!--@mbg.generated-->
    <!--@Table `order`-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="goods_user_id" jdbcType="VARCHAR" property="goodsUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, is_deleted, create_time, update_time, goods_id, `status`, amount, user_id, goods_user_id
  </sql>


  <resultMap id="order" type="com.boot.dto.vo.OrderGoodsPageVo">
    <result column="images" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" property="images"/>
    <association property="userInfo" javaType="com.boot.dto.common.vo.UserBasicInformation">
      <id column="u_id" property="id"/>
      <result column="username" property="username"/>
      <result column="sex" property="sex"/>
      <result column="avatar" property="avatar"/>
    </association>
  </resultMap>
  <select id="pageOwn" resultMap="order">
    select  u.id as u_id,u.username,u.avatar,u.sex,
    g.name,
    g.images,
    g.content,
    g.user_id,
    g.price,
    o.status,
    o.amount,o.status as status from `order` as o left join goods g on o.goods_id = g.id
    left join user u on
    <if test="type == @com.boot.common.enums.FindType@SOLD">
      o.goods_user_id = u.id
    </if>
    <if test="type == @com.boot.common.enums.FindType@BUY">
      o.user_id = u.id
    </if>
    where o.is_deleted = 0
    <if test="type == @com.boot.common.enums.FindType@SOLD">
      and o.goods_user_id = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="type == @com.boot.common.enums.FindType@BUY">
      and o.user_id = #{userId,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>